/* ICONS */
.iconMenu {
  display: none;
  justify-content: center;
  align-items: center;
  border: 2px solid #efefef;
  padding: 6px;
  border-radius: 999px;
}

.iconMenu:hover {
  border: 2px solid #ebebeb;
}

.iconMenu:active {
  scale: 0.94;
  border: 2px solid #ebebeb;
}

.iconMenu svg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
  color: #122138;
}

/*Header Content*/

.headerText {
  display: flex;
  padding: 10px 0px;
  justify-content: center;
  font-size: 15px;
}
.contentHeader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.iconNavbar {
  align-items: center;
}

.iconNavbar img {
  width: 25px;
}

/*LINE UP*/
.lineNavbar {
  content: "";
  position: absolute;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: 2px;
  background-color: #efefef;
}

/* NAVBAR CONTENT*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0px 60px;
  margin: 0 auto;
}
.navbarLogo {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.navbarLogo h2 {
  font-size: 30px;
  letter-spacing: 2px;
}

.navbarLogo img {
  width: 52px;
  height: 52px;
}

.navbarLinks li a {
  font-size: 20px;
  line-height: 24px;
  color: #122138;
  letter-spacing: 0.5px;
  padding: 10px 10px;
}

.navbarLinks ul {
  display: flex;
  gap: 24px;
  padding-right: 25px;
}

.navbarLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarLinks li:hover {
  scale: 1.05;
}

.navbarLinks li:active {
  scale: 0.94;
}

.action_btn {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #fff;
  letter-spacing: 1px;
  background: #3cc961;
  padding: 10px 25px;
  outline: none;
  border-radius: 30px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.03;
  color: #fff;
}

.action_btn:active {
  scale: 0.94;
}

/*LINE DOWN*/
.lineNavbarEnd {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #efefef;
}

/* RESPONSIVE */

.NavbarResponsive {
  display: none;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 0 30px;
}

.boxMenuResponsive {
  display: block;
  position: absolute;
  top: 150px;
  padding: 15px 15px;
  width: 300px;
  border: 2px solid #efefef;
  background: #fff;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbarLinksResponsive {
  color: #122138;
  padding: 0.7rem;
  display: flex;
  gap: 17px;
  font-size: 17px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 17px;
}

.navbarLinksResponsive a {
  color: #122138;
}

.navbarLinksResponsive li:hover {
  scale: 1.05;
}

.navbarLinksResponsive li:active {
  scale: 0.94;
}

@media (max-width: 1350px) {
  .navbarLinks {
    display: none;
  }

  .iconMenu {
    display: block;
  }
}
