@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  font-family: "Rubik", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

* {
  font-family: "Rubik", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/*Edição da Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #25416b;
  border-radius: 8px;
}
